.root {
    background-color: #000000;
    opacity: 0.9;
    overflow: hidden;
  }

.mainMessage {
    opacity: 0.9;
  }
  
  .mainMessageContainer {
    margin-top: 5vh;
    margin-left: 5vh;
    
  }
  
  @media (max-width: 600px) {
    .mainMessageContainer {
      margin-left: 4px;
    }
  }
  
  .paper {
    overflow: hidden;
  }
  
  .message {
    opacity: 0.9;
    max-width: 250px;
    padding-bottom: 8px;
  }
  
  .leave-room-btn{
    background-color: #02473B;
    border-radius: 50px;
    color: #FFFFFF;
    padding: 1rem 3rem;
  }

  .leave-room-btn:hover {
    background-color: #448E5E;
    cursor: pointer;
  }