.root {
  background-color: #000000;
  opacity: 0.9;
  overflow: hidden;
}

.mainMessage {
  opacity: 0.9;
}

.mainContainer {
  margin: 0;
  background-color: var(--color-bg-variant);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0rem;
  color: var(--color-primary);
  background-color: var(--color-bg-variant);
}

.newButton {
  background-color: var(--color-bg-variant);
}

.divider {
  background: var(--color-primary);
}

.orDivider {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
  padding: 0.5rem 0.2rem;
  color: #02473B;
}

.orSectionGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;
}

.messageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  width: auto;
  font-weight: bold;
  color: #02473B;
}


@media (max-width: 600px) {
  .mainMessageContainer {
    margin-left: 4px;
  }
}

.paper {
  overflow: hidden;
  box-shadow: none;
}