.root {
  background-color: #000000;
  opacity: opacityValue;
  overflow: hidden;
}

.mainMessage {
  opacity: opacityValue;
}

.mainMessageContainer {
  margin-top: 15vh;
  margin-left: 20vh;
}

@media (max-width: 600px) {
  .mainMessageContainer {
    margin-left: 4px;
  }
}

.paper {
  overflow: hidden;
}

.message {
  opacity: 0.9;
  max-width: 250px;
  padding-bottom: 8px;
}
